@model FTSD2.Domain.AmendmentContracts

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>AmendmentContracts</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContractNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContractNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContractName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContractName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ArabicContractName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ArabicContractName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RegionId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RegionId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CompanyId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CompanyId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContractTypeId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContractTypeId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AthorityApproval)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AthorityApproval)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NewContractActionId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NewContractActionId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AmendmentRequestDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AmendmentRequestDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AmendmentLetterApprovalDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AmendmentLetterApprovalDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SigntureDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SigntureDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContractorSignutreDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContractorSignutreDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AmendmentCost)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AmendmentCost)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OptionalPeriodValue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OptionalPeriodValue)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AmendmentPercentage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AmendmentPercentage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModificationDuration)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModificationDuration)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsDeleted)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsDeleted)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsActive)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
